{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <li>
        <img src="{{ asset_avatar(app.user.avatar) }}" alt="">
        <span>{{ app.user.firstname }} {{ app.user.lastname }}</span>
        <span>Connecté</span>
        <a href="{{ path('security.logout') }}">Deconnexion</a>
    </li>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    <li>
        <a href="{{ path('admin.index') }}">Administration</a>
    </li>
{% endif %}
