{% extends 'base.html.twig' %}

{%  block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{%  block body %}


    <h1>Fiche personnelle</h1>
    <div class="fiche">
            {% for user in users %}
                <div class="contain">
                    <div class="contain-user">
                        <p>{{ user.firstname }}</p>
                        <p>{{ user.lastname }}</p>
                        <p>{{ user.email }}</p>
                        <p>{{ user.slug }}</p>

                    </div>
                    <div class="contain-avatar">
                        <img src="{{ asset("upload/avatar/"~ user.avatar) }}" alt="">
                    </div>
                </div>

            {% endfor %}
    </div>




{%  endblock %}