{% extends 'admin/base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <section class="container-fluid">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="formation-tab" data-toggle="tab" href="#formation" role="tab" aria-controls="formation" aria-selected="true">Formation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="year-tab" data-toggle="tab" href="#year" role="tab" aria-controls="year" aria-selected="false">Années</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="promotion-tab" data-toggle="tab" href="#promotion" role="tab" aria-controls="promotion" aria-selected="false">Promotions</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="formation" role="tabpanel" aria-labelledby="formation-tab">
                <div class="tab-content" id="myTabContent">
                    <a href="{{ path('admin.degree.new') }}" type="button" class="btn btn-primary mb-3 mt-3">
                        <i class="far fa-plus-square"></i> Nouvelle formation
                    </a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nom de la formation</th>
                            <th scope="col">Modifier</th>
                            <th scope="col">Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for degree in degrees %}
                        <tr id="degree-{{ degree.id }}">
                            <td>{{ degree.name }}</td>
                            <td><a href="{{ path('admin.degree.edit', {'id':degree.id}) }}"><i class="far fa-edit"></i></a></td>
                            <td><a class="delete-button" href="{{ path('admin.degree.remove', {'id':degree.id}) }}"><i class="far fa-trash-alt"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
             </div>


            <div class="tab-pane fade" id="year" role="tabpanel" aria-labelledby="year-tab">
                <div class="tab-content" id="myTabContent">
                    <a href="{{ path('admin.year.new') }}" type="button" class="btn btn-primary mb-3 mt-3">
                        <i class="far fa-plus-square"></i> Nouvelle année
                    </a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Années</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for year in years %}
                        <tr id="year-{{ year.id }}">
                            <td>{{ year.title }}</td>
                            <td><a href="{{ path('admin.year.edit', {'id':year.id}) }}"><i class="far fa-edit"></i></a></td>
                            <td><a class="delete-button" href="{{ path('admin.year.remove', {'id':year.id}) }}"><i class="far fa-trash-alt"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="tab-pane fade" id="promotion" role="tabpanel" aria-labelledby="promotion-tab">
                <div class="tab-content" id="myTabContent">
                    <a href="{{ path('admin.promotion.new') }}" type="button" class="btn btn-primary mb-3 mt-3">
                        <i class="far fa-plus-square"></i> Nouvelle promotion
                    </a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Promotions</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for promotion in promotions %}
                            <tr id="promotion-{{ promotion.id }}">
                                <td>{{ promotion.degree.name }} - {{ promotion.year.title }}</td>
                                <td>
                                    <a  href="{{ path('admin.promotion.edit', {"id":promotion.id}) }}">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="delete-button" href="{{ path('admin.promotion.delete', {"id":promotion.id})}}">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% block javascripts %}
        {{ parent() }}
        <script>

            const hash = window.location.hash;
                if(hash){
                    $('a[href="'+hash+'"]').tab('show');
                }

            const deleteButtons = document.querySelectorAll('.delete-button');
                for(const button of deleteButtons){
                    button.addEventListener('click', (e) => {
                        e.preventDefault();
                        const userConfirm = window.confirm('Êtes-vous sûr de vouloir supprimer ?');
                        if(userConfirm){
                            const url = e.currentTarget.href;
                            $.post(url, (id)=> {
                                const trElement = document.getElementById(id);
                                trElement.parentNode.removeChild(trElement);
                            });
                        }
                    });
                }

        </script>
    {% endblock %}




{% endblock %}